<div class="auth-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onResetPassword()">
      <div>
        <label for="code">Code</label>
        <input type="text" id="code" [(ngModel)]="code" name="code" required>
      </div>
      <div>
        <label for="password">New Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  