.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px;
    transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.5em;
    color: #4a148c; /* Фиолетовый цвет */
    margin: 0;
  }
  
  .card-author {
    font-size: 1em;
    color: #757575;
    margin: 10px 0 0;
  }
  