<app-navbar></app-navbar>

<div class="background"></div>
<section class="container">
  <div class="profile-head">
    <img src="../../../../assets/images/avatar.jpg" alt="User Profile Image" class="profile-image">
    <div class="second-container">
      <h1 class="full-name">John Doe</h1>
      <p class="display-type">Premium User</p>
    </div>
    <button type="button" class="edit-profile">Edit profile</button>
  </div>
  <mat-tab-group class="profile-tabs" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Info"><app-info></app-info></mat-tab>
    <mat-tab label="Library"><app-markbook></app-markbook></mat-tab>
    <mat-tab label="Comments"><app-comments></app-comments></mat-tab>
  </mat-tab-group>
</section>

<app-footer></app-footer>
