// navbar.component.scss
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .logo-container {
    transition: transform 0.3s ease-in-out; 
    display: flex;
  }

  .logo-container h1 {
    margin-top: -10px;
    color: #683fa1;
    font-size: 24px; 
  }
  
  .logo-container:hover {
    transform: scale(1.1); 
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family:sans-serif;
    
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #683fa1; /* Dark text color */
    transition: color 0.4s ease-in-out; /* Smooth transition for text color change */
  }
  
  .nav-item a:hover {
    color: #290063; /* Text color on hover */
  }
  
  .search-container {
    position: relative;
  }
  
  .search-input {
    padding: 8px 15px;
    border: 1px solid #4f09b2; /* Gray border */
    border-radius: 4px;
    width: 200px;
    transition: width 0.3s ease-in-out; /* Smooth transition for input width */
  }
  
  .search-input:focus {
    width: 300px; /* Expand input on focus */
  }
  