<app-navbar></app-navbar>

@if (book; as currentBook) {
  <section class="container">
    <div class="right-aside">
      <img [src]="currentBook.image" alt="Book Image">
      <button>Add to library</button>
      <select name="type" [(ngModel)]="selectedStatus">
        @for (status of statuses; track status) {
          <option [value]="status">{{ status }}</option>
        }
      </select>
    </div>

    <div class="left-aside">
      <h6>{{ currentBook.country }} {{ currentBook.year }} {{ currentBook.status }}</h6>
      <h1>{{ currentBook.title }}</h1>
      <h3>{{ currentBook.originalTitle }}</h3>

      @if (currentBook.tags.length) {
        <div id="book-tags">
          @for (tag of currentBook.tags; track tag) {
            <span>{{ tag }}</span>
          }
        </div>
      }

      <div id="book-rating">
        <span><i class="icon-rate"></i> {{ currentBook.rate }}</span>
        <span><i class="icon-view"></i> {{ currentBook.view }}</span>
        <span><i class="icon-likes"></i> {{ currentBook.likes }}</span>
        <span><i class="icon-saved"></i> {{ currentBook.saved }}</span>
      </div>

      <p>{{ currentBook.description }}</p>

      <div id="book-authors">
        <div>
          @if (currentBook.publisher) {
            <p>Publisher</p>
          }
          @if (currentBook.author) {
            <p>Author</p>
          }
          @if (currentBook.artist) {
            <p>Artist</p>
          }
          @if (currentBook.translator) {
            <p>Translator</p>
          }
        </div>
        <div>
          @if (currentBook.publisher) {
            <span>{{ currentBook.publisher }}</span>
          }
          @if (currentBook.author) {
            <span>{{ currentBook.author }}</span>
          }
          @if (currentBook.artist) {
            <span>{{ currentBook.artist }}</span>
          }
          @if (currentBook.translator) {
            <span>{{ currentBook.translator }}</span>
          }
        </div>
      </div>

      <div id="book-users">
        @for (user of currentBook.users; track user.id) {
          <p>
            <a [routerLink]="['/user-profile']">{{ user.name }}</a>
          </p>
        }
      </div>
    </div>
  </section>

  <app-card-page-footer [currentBookId]="currentBook.id"></app-card-page-footer>
}

<app-footer></app-footer>
